page-products {
.card-background-page {
  h2 {
    font-family: Campton, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 36px;
    margin: 10px 0px;
    padding: 0
  }
  h3 {
    font-family: Campton, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    padding: 0
  }
  
  ion-card {
    position: relative;
    text-align: center;
    h2 {
      text-transform: uppercase;
      font-family: ProximaNova, Arial, Helvetica, sans-serif;
      font-weight: 300;
      font-size: 24px;
      line-height: 36px;
      margin: 0;
      padding: 0
    }
    ion-label {
      margin-top: -20px !important;
    }
  }
  ion-item {
    padding-left: 0px !important;
  }
  ion-avatar {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    img {
      border-radius: 0% !important;
      overflow: hidden;
      width: 100px !important;
      height: 100px !important;
    }
  }
  .card-title {
    position: absolute;
    top: 16%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 35%;
    width: 100%;
    color: #fff;
  }
  .card-bottom {
  	    width: 100%;
    position: absolute;
    bottom: 0px;
    .card-bottom-top {
    	padding: 15px;
    background: rgba(75, 92, 106, 0.74);
    }
    .card-bottom-bottom {
    	    padding: 15px;
    background: #fff;
    }
  }
}
}
